<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>EXAM</title>
</head>
<body>
<t1>EXAM</t1>
<!--변수 표현식-->
<p>userName : <span th:text="${userName}"></span></p>

<!--선택 변수 표현식-->
<div th:object="${languages}">
    Languages :
    <span th:text="*{[0]}"></span>
    <span th:text="*{[1]}"></span>
    <span th:text="*{[2]}"></span>
</div>

<!--조건 사용-->
<div th:if="${isAdmin}">
    <p><span th:text="${userName}"></span>은 관리자 입니다.</p>
</div>
<div th:unless="${isAdmin}">
    <p><span th:text="${userName}"></span>은 관리자가 아닙니다.</p>
</div>

<!--url 표현-->
<a th:href="@{/home}">home</a>

<!-- 리터럴 값 -->
<p th:text="'Welcome, ' + ${userName} + '!'">Welcome message</p>

<!--메세지 표현식-->
<p th:text="#{welcome.message}"></p>
</body>
</html>