<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Regi Friend</h1>
<form method="post" th:action="@{/friend/regi/submit}" th:object="${friend}">
    <label for="name">username : </label>
    <input type="text" th:field="*{name}" id="name">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br>

    <label for="email">password : </label>
    <input type="text" th:field="*{email}" id="email">
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br>

    <button type="submit">Submit</button>
</form>
</body>
</html>